<h1>Hello Movies</h1>
{{#each movies}}
    <ul>
        <p>{{this.title}}</p>
        <a href="/movies/{{this.id}}"><img src="https://image.tmdb.org/t/p/w154{{this.poster_path}}" alt=""></a>
    </ul>
{{/each}}
