<!-- views/reviews-index.handlebars -->

<h1>Reviews</h1>

<div class="row">
    <!-- This will format for each item in the reviews array -->
    {{#each reviews}}
    <div class="col-sm-3">
        <!-- Make a second heading of the item's review title -->
        <h2><a href="/reviews/{{this._id}}">{{this.title}}</a></h2>
        <!-- Make a small line of the item's movieTitle -->
        <small>{{this.movieTitle}}</small>
    </div>
    {{/each}}
</div>
